/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #333;
  color: white;
}

.logo {
  padding: 2px;
  display: flex;
  align-items: center;
  margin-left: 15px; /* Shift logo and title 20px right from the left */
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navigation li a {
  color: inherit;
  text-decoration: none;
}

.navigation li a:visited {
  color: white;
}

.navigation li:hover {
  color: #007bff;
}

.user-options {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Shift buttons 20px left from the right end */
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px; 
}

.dropbtn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login-signup a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.login-signup a:hover {
  background-color: white;
  color: #333;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }

  .logo {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1px;
    margin-left: 3px;
  }

  .navigation ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  .navigation li {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .user-options {
    margin-right: 0;
    margin-top: 10px;
  }

  .dropdown,
  .login-signup a {
    margin-right: 0;
    margin-top: 10px;
  }

  .logo img {
    width: 25px; /* Reduce logo image size */
    margin-right: 8px;
  }

  .navigation li {
    font-size: 12px; /* Adjust font size for navigation items */
  }

  .dropbtn,
  .dropdown-content a,
  .login-signup a {
    font-size: 12px; /* Adjust font size for buttons and dropdown */
  }
}
