.register-body {
  padding: 30px;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-container {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 30px; /* Reduced padding */
  animation: fadeIn 0.5s ease-in-out;
}

.circular-progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hide initially */
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-icon {
  cursor: pointer;
  margin-left: -30px; /* Adjust the spacing between the icon and input */
}

.form-header h2 {
  color: #333;
}

.form-group {
  margin-bottom: 15px; /* Reduced margin */
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px; /* Reduced margin */
}

.form-group input {
  width: 100%;
  padding: 8px; /* Reduced padding */
  font-size: 14px; /* Reduced font size */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin:5px;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 16px; /* Reduced padding */
  margin-top: 15px; /* Increased margin at the top */
  font-size: 16px; /* Reduced font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

.progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 8px;
  animation: fadeInOut 1.5s infinite alternate;
}

@keyframes fadeInOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.circular-progressbar {
  width: 80%;
  height: 80%;
  margin: auto;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .form-container {
      max-width: 90%;
      padding: 15px;
  }

  .form-group input {
      padding: 6px;
      margin: 5px;
      font-size: 12px;
  }

  .button {
      padding: 8px 12px;
      font-size: 14px;
      margin-top: 10px;
  }

  .circular-progress-container {
      max-width: 85%;
      padding: 15px;
  }

  .progress-bar-container {
      width: 80px; /* Adjust the width as needed */
      height: 80px; /* Adjust the height as needed */
  }
}
